<!doctype html>
<html lang="en">

<head>
  {% block title %}<title>UIC Search</title>
  {% endblock title %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .sidebar {
      height: auto;
      position: fixed;
      top: 4rem;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    }

    .sidebar a {
      position: -webkit-sticky;
      position: sticky;
    }
  </style>
  <link rel='stylesheet' href="{% static 'uicsearch/css/styles.css' %}">
</head>

<body>
  <!-- top navbar -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">UIC Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if '/search/' == request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'index' %}">Home {% if "/search/" == request.path %}<span
              class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item {% if '/search/pagerank/' == request.path %} active {% endif %}">
          <a class="nav-link" href="{% url 'pagerank' %}">Page Rank
            Scores{% if "/search/pagerank/" == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method='post' action='/search/'>
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
          </div>
          {{ form.eval_func }}
          {{form.result_size}}
          {{ form.query }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </nav>
  <!-- Page content -->
  <div class=d-flex>
    <section class='col-sm-10'>
      {% block content %}
      {% endblock content %}
    </section>
    {% block sidebar %}
    {% endblock sidebar %}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>